.wrapper{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    @include for-desktop-up{
        padding-left: 0;
        padding-right: 0;
    }
}

.center-constrainer{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Raleway', sans-serif;;
    font-weight: 700;
    font-size: 1rem;

    padding: 0.8rem 0;
}

.btn-primary{
    transition: all .2s ease-in-out;
    width: 80%;
    max-height: 45.2px;
    @include for-desktop-up{
        width: auto;
    }
    
    margin-left: auto;
    margin-right: auto;

    color: $neutral-100;
    background-color: $color-blue;

    border-radius: 3px;

    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-primary:hover{
    background-color: rgba($color-blue,0.8)
}

.btn-primary:active{
    transform: scale(0.95);
}

.btn-secondary{
    color: $color-blue-alternate;
    text-underline-offset: .6rem;
    @include for-desktop-up{
        display: inline-block;
    }
}

.h1{
    font-family: 'Raleway', sans-serif;
    color: $color-primary;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.2rem;

    @include for-desktop-up{
        font-size: 1.4rem;
        line-height: 2.35rem;
        text-align: left; 
    }
}

.p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    @include for-desktop-up{
        font-size: 1.15rem;
        text-align: left;
    }
}

.text-column-flex{
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
}


.input-group{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    @include for-desktop-up{
        align-items: flex-start;
    }

    input{
        width: 80%;
        @include for-desktop-up{
            width: 100%;
        }

        border-radius: 3px;
        border: 2px solid $color-primary;

        &.border-none{
            border: 2px solid rgba(#000000,0.0);
        }

        font-family: 'Open Sans', sans-serif;
        color: rgba($color-primary,0.6);
        font-size: 1rem;
        padding: .6rem 1.2rem;
    }
    input:focus{
        outline: 0px;
    }
    .error-message{
        display: none;
        width: 80%;
    }
}

.input-group.error{
    input{
        border: 2px solid red;
        color: rgba(red,0.7);
    }
    .error-message{
        display: block;
        color: red;
        font-family: 'Open Sans', sans-serif;
        font-size: .8rem;
        padding: .2rem;

        &.color-white{
            color: white;
        }
    }
}